//
// Ripple Core
// --------------------------------------------------

.ripple-action:not(.disabled) {
    overflow: hidden;
    position: relative;

    > .ripple {
        -webkit-animation: ripple $ripple-animation-duration linear;
        animation: ripple $ripple-animation-duration linear;
    }
}

.ripple {
    position: absolute;
    display: block;
    background: $ripple-light-bg;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
    }
}

@keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5);
        transform: scale(2.5);
    }
}
