//
// Variables
// --------------------------------------------------

// Ripple
// --------------------------------------------------

$ripple-animation-duration: 0.65s !default;

$ripple-light-bg: rgba(0, 0, 0, 0.1) !default;
$ripple-dark-bg: rgba(255, 255, 255, 0.1) !default;
